{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
